/* global.css */
:root {
    --primary-color: #fff;
    --text-color: #0073FF;
    --background-color: #BCE0FF;
    --accent-color: #FF6347;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: var(--accent-color);
}

header, footer {
    padding: 20px;
    text-align: center;
    background-color: #f7f7f7;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

h1, h2, h3 {
    font-family: "Roboto", sans-serif;
    text-align :center;
    background-color: inherit;
    margin-bottom: 10px;
}

.header-wrapper {
    background-color: var(--global-bg-color);
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--accent-color);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    header, footer {
        padding: 15px;
    }
}
